body {
  /* background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(21,21,133,1) 43%); */
  background: rgb(75, 94, 8);
  background: linear-gradient(
    90deg,
    rgba(75, 94, 8, 1) 12%,
    rgba(130, 161, 19, 1) 79%
  );
  font-family: "Roboto Flex", sans-serif;
  margin:0;
}
