*{
  box-sizing: border-box;
}

body {
  background: rgb(75, 94, 8);
  background: linear-gradient(
    90deg,
    rgba(75, 94, 8, 1) 12%,
    rgba(130, 161, 19, 1) 79%
  );
  
  font-family: "Comfortaa",cursive;
  margin:0;
}
